@model IEnumerable<WebApplication1.Models.Table>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{

    ViewData["Title"] = "Home Page";
}
@if (@Accessor.HttpContext.Session.GetString("user") != null)
{
    @foreach (var item in Model)
    {
        <a href="/OrderDetail/@item.Id">@item.NameTable</a>
    }
}

